*{padding: 0; margin: 0; box-sizing: border-box;}
ul{list-style: none;}
#Wrap{margin: 30px auto; width: 1000px;}
#inputWrap{width: 100%; margin-bottom: 50px;}
.tablist button{padding: 3px 15px; border: 0; background: white; cursor: pointer;
    margin-right: 15px; border-radius: 7px; transition: all 0.5s ease-in;}
.tablist button:hover{background: gold;}
.field{padding: 10px 5px;}
.input-field label{margin-right: 10px;}
#save{padding: 2px 4px; border: 1px solid gold; background: white; 
    margin-left: 6px; cursor: pointer;}

/* 출력 영역 스타일 */

#container{width: 100%; border-collapse: collapse;}
#container td, #container th{border: 1px solid #aaa; padding: 5px 2px;}
.date{width: 10%;}
.expense, .income{width: 15%;}
.detail-col{width: 35%;}
.category-col{width: 15%;}
.payment-col{width: 10%;}